@font-face {
    font-family: "Black_Ops";
    src: url("./fonts/Black_Ops_One/BlackOpsOne-Regular.ttf");
}
font-face {
    font-family: "Alfa";
    src: url("./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik_Iso/RubikIso-Regular.ttf"); /*font not used*/
}
@font-face {
    font-family: "Tilt";
    src: url("./fonts/Tilt_Prism/TiltPrism-Regular-VariableFont_XROT,YROT.ttf"); /*font not used*/
}
@font-face {
    font-family: "Handlee";
    src: url("./fonts/Handlee/Handlee-Regular.ttf");
}

body{
    padding: 20px;
    font-family: Handlee;
    background: #ffc324;
    background: -webkit-linear-gradient(180deg, #ffc324 30%, #fffbfb 40%, #7a592a 50%);
    background: linear-gradient(180deg, #ffc324 30%, #fffbfb 40%, #7a592a 50%);
    /* I was trying to match the background with a layer of mango float. Graham-cream-mango */
}

header{
    color: #7a592a;
    text-align: center;
    font-family: Black_Ops;
    font-size: x-large;
}

#part1{
    color: #7a592a;
}
#part2{
    color: #ffc324;
    margin-left: 15%;
    margin-right: 15%;
}
#parag1{
    margin-left: 20%;
    margin-right: 20%;
}
#fi{
    text-align: end;
    margin-left: 35%;
    margin-right: 20%;
}

h3{
    margin-bottom: 0px;
    letter-spacing: 10px;
}

h1{
    margin-top: 0px;
    letter-spacing: 15px;
}

h2, th{
    font-family: Alfa;
    margin-bottom: 0px;
    font-style: italic;
}
h5{
    font-family: Roboto;
    margin-bottom: 0px;
    font-weight: bold;
}

p{
    margin-top: 0px;
    line-height: 30px;
}

table, tr, th, td{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

footer{
    color: #ffc324;
    text-align: end;
}

.list{
    text-align: center;
}
.ul{
    margin-top: 4px;
    display: inline-block;
    text-align: left;
    line-height: 30px;
}
#side1{
    display: inline-block;
}
#side2{
    display: inline-block;
    color: #ffc324;
    text-align: start;
    float: left;

}

/*
input[type=checkbox] {
    position: relative;
      cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
*/

